<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="PharmaCare.Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <!-- Title -->
    <title>
    <asp:ContentPlaceHolder ID="titile" runat="server">

    </asp:ContentPlaceHolder>
    </title>

    <!-- Head Content -->
    <meta name="viewport" content="width=device-width" />
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="Content/site.css" rel="stylesheet" />
    <link href="Content/navigation.css" rel="stylesheet" />
    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>

    <asp:ContentPlaceHolder ID="head" runat="server">

    </asp:ContentPlaceHolder>
</head>
<body>
    <!-- Site Content -->
    <div class="container">
        <form id="form1" runat="server" class="form-horizontal">

            <!-- Navigation Panel -->
            <nav>
                
                <div class="topnav" id="myTopnav">
                    <!-- PharmaCare Label -->
                    <a href="#home" class="logo">PharmaCare</a>

                    <!-- Doctor Button -->
                    <div class="dropdown2">
                    <button class="dropbtn">Doctor</button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                    </div>

                    <!-- Staff Button -->
                    <div class="dropdown2">
                    <button class="dropbtn">Staff</button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                        </div>

                    <!-- Pharmacist Button -->
                    <div class="dropdown2">
                    <button class="dropbtn">Pharmacist</button>
                        <div class="dropdown-content">
                          <a href="#">Link 1</a>
                          <a href="#">Link 2</a>
                          <a href="#">Link 3</a>
                        </div>
                        </div>

                    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                    </a>

                </div>
            </nav>
        <script>
            function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
            
            <!-- END Navigation Panel -->

            <!-- Red bar -->
            <asp:Panel ID="redBar" runat="server" CssClass="redBar">
            </asp:Panel>

            <!-- Content Panel --> 
            <asp:Panel ID="Panel2" runat="server" CssClass="contentContainer">
                
            </asp:Panel>
            <!-- END Content Panel -->

        
            <asp:ContentPlaceHolder ID="body" runat="server">

            </asp:ContentPlaceHolder>
        
        </form>
    </div>
</body>
</html>
