body {
    background-color: rgb(220, 220, 220);
}

.container {
    width: 100%;
    height: 90px;
    padding-top: 20px;
}


    .mainNavbar {
        /* Rectangle*/
        width: 100%;
        height: 70px;
        margin-top: 20px;
        background: rgb(70, 70, 70);
        font-family: Arial;
    }


@media screen and (max-width: 600px) {
    .mainNavbar {
        /* Rectangle*/
        width: 100%;
        height: 70px;
        margin-top: 20px;
        background: rgb(70, 70, 70);
        font-family: Arial;
    }
}

.redBar {
    /* Rectangle */
    width: 100%;
    height: 0.5vh;
    top: 0px;
    background: rgb(255, 84, 84);
}


.contentContainer {
    /* Rectangle */
    width: 100%;
    height: 80vh;
    top: 0px;
    background: white;
}

.navLabelContainer {
    height: 100%;
    width: 230px;
    float: left;
    background-color: rgb(86, 86, 86);
}

@media screen and (max-width: 600px) {
    .navLabelContainer {
        height: 100%;
        width: 230px;
        float: left;
        background-color: rgb(86, 86, 86);
    }
}

.navLabelContainer:hover {
    background-color: rgb(40, 40, 40);
}

@media screen and (min-width:701px) {
    .navLabel {
        font-size: 27px;
        color: white;
        display: inline-block;
        padding: 15px 40px;
        background-color: rgb(60, 60, 60);
        height: 70px;
    }
}

@media screen and (max-width:700px) {
    .navLabel {
        font-size: 20px;
        color: white;
        display: inline-block;
        padding: 15px 40px;
        background-color: rgb(60, 60, 60);
        margin-top: 0px;
    }
}
    .navButtons {
        height: 7.5vh;
        width: 100%;
    }

    /* Links inside the navbar */

    /* Add an active class to highlight the current page */
    .active {
        background-color: #4CAF50;
        color: white;
    }

    .toggle {
        width: 100%;
        padding: 10px 20px;
        background: rgb(70, 70, 70);
        text-align: right;
        color: #fff;
        font-size: 20px;
        display: none;
    }

    @media (max-width:700px) {
        .toggle {
            display: block;
        }

    }

